/* 
.head {
  border: none;
  width: 300px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.form {
  box-shadow: 2px 2px 2px 2px rgba(78, 79, 80, 0.603);
  height: 550px;
  text-align: center;
  
}

.heading {
  text-align: center;
}

.name {
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 10px;
}

.email {
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 10px;
}

.select {
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 10px;
}

option {
  color: rgb(0, 0, 0);
}

.jenis {
  margin-bottom: 10px;
  margin-top: 10px;
}

.jalan {
  margin-bottom: 10px;
  margin-top: 10px;
}

.jalan1 {
  height: 100px;
}

.button {
  border: 0;
  color: rgb(165, 7, 7);
  background-color: rgb(255, 255, 255);
  margin-top: 15px;
  margin-left: 5px;
  width: auto;
}

.submit {
  color: rgb(255, 255, 255);
  background-color: rgb(44, 135, 255);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  border: none;
  width: 80px;
  height: 30px;
} */


.kolom {
  width: 300px;
  margin: 100px auto 0;
  border: 1px solid black;
  padding: 10px;
  height: 350px;
  box-shadow: 2px 2px 2px 2px rgba(78, 79, 80, 0.603);
  border: none;
}

.baris {
  color: red;
}

.judul {
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
}